<div class="col-5 m-auto">
    <h1><%= room.name %></h1>
    <div class="row">
      <div class="col-3">
        <a href="/rooms/edit/<%= room.id %>" class="btn btn-warning">Edit Room</a>
      </div>
      <div class="col-3">
        <form method="POST" action="/rooms/<%= room.id %>/?_method=DELETE">
          <input class="btn btn-danger" type="submit" value="Delete Room">
        </form>
      </div>
    </div>
    <div id="commentContainer" class="column">
        <% room.comments.forEach(comment => { %>
            <div class="card">
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title"><%= comment.poster %> </h5>
                  <p class="card-text"><%= comment.content %> </p>
                  <p class="card-text"><small class="text-muted">posted: <%= comment.createdAt %> </small></p>
                </div>
              </div>
            </div>
        <% }) %>
    </div>
    <form method="POST" action="/comments/<%= room.id %> ">
      <div class="mb-3 row">
        <label for="poster">Post As:</label>
        <div>
          <input type="text" name="poster" id="poster">
        </div>
        <label for="content">New Comment</label>
        <div>
          <textarea name="content" id="comment" cols="20" rows="2"></textarea>
        </div>
      </div>
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
    <a class="btn btn-success" href="/comments/<%= room.id %>/pokemon">Get A Random Pokemon</a>
</div>
