<div class="col-5 m-auto">
    <h1><%= room.name %></h1>
    <div class="row">
      <div class="col-3">
        <a href="/rooms/edit/<%= room.id %>" class="btn btn-warning">Edit Room</a>
      </div>
      <div class="col-3">
        <form method="POST" action="/rooms/<%= room.id %>/?_method=DELETE">
          <input class="btn btn-danger" type="submit" value="Delete Room">
        </form>
      </div>
    </div>
    <div id="commentContainer" class="column">
        <% room.comments.forEach(comment => { %>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= comment.poster %> </h5>
                      <p class="card-text"><%= comment.content %> </p>
                      <p class="card-text"><small class="text-muted">posted: <%= comment.createdAt %> </small></p>
                    </div>
                  </div>
                </div>
              </div>
        <% }) %>
    </div>
    <form method="POST" action="/comments">
        <div class="mb-3 row">
            <label for="comment">New Comment</label>
            <textarea name="comment" id="comment" cols="20" rows="2"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
</div>
